.display {
  display: grid;
  height: 4rem;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #bebebe,
  inset -20px -20px 60px #ffffff;
  align-items: center;
  justify-items: flex-end;
  padding-right: 1rem;
}
