@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


@mixin typography {
  font-family: 'Odibee Sans', serif;
  font-size: 1.5rem;
}

main {
  @include typography;
  display: grid;
  grid-template-columns: 0.75fr;
  justify-content: center;
}

input {
  all: unset;
  @include typography;
  text-align: right;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}
