@mixin key {
  display: flex;
  justify-content: center;
  align-items: center;
  // neumorhic styling
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}

@mixin inset {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #bebebe,
  inset -20px -20px 60px #ffffff;
}

.default {
  @include key;
  height: 4rem;
  width: 4rem;
}

.default:hover {
  @include inset
}

.zero {
  @include key;
  border-radius: 12px;
  grid-column: span 2;
}

.zero:hover {
  @include inset
}
