@mixin key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #DBE1E9;
  border: thin white solid;
  box-shadow:  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}

@mixin inset {
  background: #DBE1E9;
  box-shadow: inset 20px 20px 60px #bebebe,
  inset -20px -20px 60px #ffffff;
}

.default {
  @include key;
  height: 4.5rem;
  width: 4.5rem;
}

.default:active {
  @include inset
}

.zero {
  @include key;
  border-radius: 12px;
  grid-column: span 2;
}

.zero:hover {
  @include inset
}
