.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}


.keypad > div {
  display: grid;
}

// aspect-ratio trick for dynamic square

.keypad > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}
